.nav img{
    border-radius: 50%;
}

.accordion-item{
    margin: 20px;
}

.nav a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.html {
    background-color: black;
}
